<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${ title }</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <h1 class="d-flex justify-content-center p-5">EJS!</h1>
    <h2 class="d-flex justify-content-center p-5">List of Articles</h2>
    <ul>
      <% articles.forEach(function(article) { %>
        <li class="p-2 list-style-none">
          <p class="fs-3">
            <%= article.title %>
          </p>
          <%= article.content %>
        </li>
        <% }) %>
    </ul>

  </div>
</body>

</html>