doctype html
html(lang="uk")
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(href="/favicon.png", rel="icon", type="image/png")

  body.bg-light
    .container.mt-5
      .card.shadow
        .card-header.bg-primary.text-white
          h1.text-center Ласкаво просимо до Express та Pug
        .card-body
          p.lead.text-center Головна сторінка нашого додатку
          .row.mt-4
            .col-md-6
              a.btn.btn-info.btn-block(href="/users") Перейти до списку користувачів
            .col-md-6
              a.btn.btn-success.btn-block(href="/articles") Перейти до списку статей
          .row.mt-4
            .col-md-6
              a.btn.btn-success.btn-block(href="/settings") Перейти до перегляду Cookies 
            .col-md-6
              a.btn.btn-info.btn-block(href="/login") Перейти до cторінки авторизації

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

