doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(href="/favicon.png", rel="icon", type="image/png")

  body.bg-light
    .container.mt-5
      .card.shadow
        .card-header.bg-primary.text-white
          h1.text-center Users List
        .card-body
          .table-responsive
            table.table.table-hover
              thead.thead-light
                tr
                  th Name
                  th Phone
                  th Email
              tbody
                each user, index in users
                  tr
                    td
                      a(href=`/users/${index+1}`)= user.name
                    td= user.phone
                    td= user.email
        .card-footer
          a.btn.btn-primary(href="/") Повернутися на головну

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
